<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>TRON</title>
</head>
<body>
<div id="main_container">

    <div class="menu" id="menu_choose_player">
        <div class="button choose_player" id="two_players" onclick="numberOfPlayersChosed(2)">2 players</div>
        <div class="button choose_player" id="three_players" onclick="numberOfPlayersChosed(3)">3 players</div>
        <div class="button choose_player" id="four_players" onclick="numberOfPlayersChosed(4)">4 players</div>
    </div>

    <div class="menu" id="menu_choose_buttons">
        <div id="choose_buttons_title">Choose button for player </div>
        <div class="chooser_buttons">
            <div class="button_name">Left button</div>
            <div class="text tap_to_setup">Tap to setup</div>
            <div class="button_char" id="left_char"></div>
        </div>
        <div class="chooser_buttons">
            <div class="button_name">Right button</div>
            <div class="text tap_to_setup">Tap to setup</div>
            <div class="button_char" id="right_char"></div>
        </div>
        <div class="button" id="key_chosed_button">GO NEXT</div>
    </div>

    <div class="menu" id="menu_start_game">
        <div class="button" id="start_button" onclick="getReadyForGame()">START</div>
    </div>

    <canvas id="game_field" width="700" height="700"></canvas>

    <div class="menu" id="menu_end_game">
        <div id="winner_text"></div>
        <div class="button" id="reload_button" onclick="getReadyForGame()">RELOAD</div>
    </div>

</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../model/Snake.js"></script>
<script type="text/javascript" src="../controller/main.js"></script>
</body>
</html>