body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 700px;
    border: #000000 2px solid;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    padding: 16px;
}

.button_char {
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid black;
}

.chooser_buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 8px;
}

#reload {
    background: #add8e6;
    padding: 10px;
    margin: 16px;
}

#reload:hover {
    background: #91bcca;
    cursor: pointer;
}

